{% extends "backstage.html" %}
{% block head %}
{{ super() }}

{% endblock head %}

{% block title %}BookStore{% endblock title%}

{% block content%}


<br/>
<div class="container-xl">
  <br/>
  <form method="post" enctype=multipart/form-data action={{ url_for('manager.edit') }}>
    <table class="table table-bordered">
      <tr>
        <th>影片編號</th>
        <td><input class="form-control" type="text" value="{{ data.商品編號 }}" name="pid" readonly class="id_input"></td>
      </tr>
      <tr>
        <th>影片名稱</th>
        <td><input class="form-control" type="text" value="{{ data.商品名稱 }}" name="name" required></td>
      </tr>
      <tr>
        <th>上傳日期</th>
        <td><input class="form-control" type="text" value="{{ data.單價 }}" name="price" required></td>
      </tr>
      <tr>
        <th>影片分級</th>
        <td>
          <select class="form-control" name="category">
            {% if data.類別 == 'A' %}
              <option value="A" selected>普遍級</option>
              <option value="B">保護級</option>
              <option value="C">輔導級</option>
              <option value="D">限制級</option>
            {% elif data.類別 == 'B' %}
              <option value="A">普遍級</option>
              <option value="B" selected>保護級</option>
              <option value="C">輔導級</option>
              <option value="D">限制級</option>	      
            {% elif data.類別 == 'DVD' %}
              <option value="A">普遍級</option>
              <option value="B">保護級</option>
              <option value="C" selected>輔導級</option>
              <option value="D">限制級</option>	      
            {% else %}
              <option value="A">普遍級</option>
              <option value="B">保護級</option>
              <option value="C">輔導級</option>
              <option value="D" selected>限制級</option>	      
            {% endif %}
            
        </select>
      </tr>
      <tr>
        <th>link</th>
        <td>
          <textarea class="form-control" name="description">{{ data.商品敘述 }}</textarea>
        </td>
      </tr>
      <!-- <tr>
        <th>商品圖片</th>
        <td>
          <input type="file" name="file" id="file-uploader" data-target="file-uploader"/>
        </td>
      </tr> -->
    </table>
    <center>
      <div class="option">
        <button class="btn btn-outline-success" type="submit">確定修改</button> 
        <a href="{{ url_for('manager.productManager') }}"><button class="btn btn-outline-danger">回商品管理</button></a>
      </div>
    </center>

  </form>
</div>



{% endblock content%}
