{% extends "frontstage.html" %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block title %}BookStore{% endblock title %}

{% block content %}
<br/>
{% if plans_details %}
  {% for plan in plans_details %}
    <div class="row">
      <div class="card" style="width: 20rem;margin-left:5%">
        <div class="card-body">
          <h5 class="card-title">{{ plan.title }}</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>有效期限</b>: {{ plan.period }}</li>
            <li class="list-group-item"><b>最大允許裝置數</b>: {{ plan.max_allow }}</li>
            <li class="list-group-item"><b>包含影片</b>:
              <ul>
                {% for video in plan.videos %}
                  <li>{{ video }}</li>
                {% endfor %}
              </ul>
            </li>
          </ul>
        </div>
	<form method="post" action="{{ url_for('bookstore.transactions') }}">
  <input type="hidden" name="pid" value="{{ plan.pid }}">
  <button type="submit" class="btn btn-primary">訂閱</button>
</form>
<br>
      </div>
<br>
    </div>
    <br>    
  {% endfor %}
{% else %}
  <p>沒有促銷方案。</p>
{% endif %}
{% endblock content %}

